<h1>{{user.username}}</h1>


<h2>Add a pic</h2>

<form action="/users/{{user.id}}/pics" method="post" enctype="multipart/form-data">
	<input type="text" name="title" placeholder="title">
	<input type="file"	name="upl">
	<input type="submit">
</form>

<h2>{{user.username}}'s Pics</h2>

<div class="pics-list">
	{{#each pics}}
		<div class="picture">
			<img src="/images/{{src}}" width=200>
			<p>{{title}}</p>
		</div>
{{/each}}
</div>

